[
  {rabbitmq_shovel, [
    {shovels, [
      {moderation_shovel1, [
        {source, [
          {protocol, amqp091},
          {uris, ["amqp://shovel-user:xxxx@mq.esamarathon.com/esa_prod"]},
          {declarations, [
            {'exchange.declare', [{exchange, <<"moderation">>}, {type, <<"topic">>}, durable, auto_delete]},
            {'queue.declare', [exclusive]},
            {'queue.bind', [{exchange, <<"moderation">>}, {queue, <<>>}, {routing_key, <<"#">>}]}
          ]},
          {queue, <<>>},
          {prefetch_count, 10}
        ]},
        {destination, [
          {protocol, amqp091},
          {uris, ["amqp://shovel-user@/esa_local1"]},
          {declarations, [
            {'exchange.declare', [{exchange, <<"moderation">>}, {type, <<"topic">>}, durable, auto_delete]}
          ]}
        ]},
        {ack_mode, on_confirm},
        {reconnect_delay, 5.0}
      ]},
      {moderation_shovel2, [
        {source, [
          {protocol, amqp091},
          {uris, ["amqp://shovel-user:xxxx@mq.esamarathon.com/esa_prod"]},
          {declarations, [
            {'exchange.declare', [{exchange, <<"moderation">>}, {type, <<"topic">>}, durable, auto_delete]},
            {'queue.declare', [exclusive]},
            {'queue.bind', [{exchange, <<"moderation">>}, {queue, <<>>}, {routing_key, <<"#">>}]}
          ]},
          {queue, <<>>},
          {prefetch_count, 10}
        ]},
        {destination, [
          {protocol, amqp091},
          {uris, ["amqp://shovel-user@/esa_local2"]},
          {declarations, [
            {'exchange.declare', [{exchange, <<"moderation">>}, {type, <<"topic">>}, durable, auto_delete]}
          ]}
        ]},
        {ack_mode, on_confirm},
        {reconnect_delay, 5.0}
      ]},
      {tracker_shovel1, [
        {source, [
          {protocol, amqp091},
          {uris, ["amqp://shovel-user:xxxx@mq.esamarathon.com/esa_prod"]},
          {declarations, [
            {'exchange.declare', [{exchange, <<"tracker">>}, {type, <<"topic">>}, durable, auto_delete]},
            {'queue.declare', [exclusive]},
            {'queue.bind', [{exchange, <<"tracker">>}, {queue, <<>>}, {routing_key, <<"#">>}]}
          ]},
          {queue, <<>>},
          {prefetch_count, 10}
        ]},
        {destination, [
          {protocol, amqp091},
          {uris, ["amqp://shovel-user@/esa_local1"]},
          {declarations, [
            {'exchange.declare', [{exchange, <<"tracker">>}, {type, <<"topic">>}, durable, auto_delete]}
          ]}
        ]},
        {ack_mode, on_confirm},
        {reconnect_delay, 5.0}
      ]},
      {tracker_shovel2, [
        {source, [
          {protocol, amqp091},
          {uris, ["amqp://shovel-user:xxxx@mq.esamarathon.com/esa_prod"]},
          {declarations, [
            {'exchange.declare', [{exchange, <<"tracker">>}, {type, <<"topic">>}, durable, auto_delete]},
            {'queue.declare', [exclusive]},
            {'queue.bind', [{exchange, <<"tracker">>}, {queue, <<>>}, {routing_key, <<"#">>}]}
          ]},
          {queue, <<>>},
          {prefetch_count, 10}
        ]},
        {destination, [
          {protocol, amqp091},
          {uris, ["amqp://shovel-user@/esa_local2"]},
          {declarations, [
            {'exchange.declare', [{exchange, <<"tracker">>}, {type, <<"topic">>}, durable, auto_delete]}
          ]}
        ]},
        {ack_mode, on_confirm},
        {reconnect_delay, 5.0}
      ]},
      {cg_shovel_1to2, [
        {source, [
          {protocol, amqp091},
          {uris, ["amqp://shovel-user@/esa_local1"]},
          {declarations, [
            {'exchange.declare', [{exchange, <<"cg">>}, {type, <<"topic">>}, durable, auto_delete]},
            {'queue.declare', [exclusive]},
            {'queue.bind', [{exchange, <<"cg">>}, {queue, <<>>}, {routing_key, <<"esa2019s1.#">>}]}
          ]},
          {queue, <<>>},
          {prefetch_count, 10}
        ]},
        {destination, [
          {protocol, amqp091},
          {uris, ["amqp://shovel-user@/esa_local2"]},
          {declarations, [
            {'exchange.declare', [{exchange, <<"cg">>}, {type, <<"topic">>}, durable, auto_delete]}
          ]}
        ]},
        {ack_mode, on_confirm},
        {reconnect_delay, 5.0}
      ]},
      {cg_shovel_2to1, [
        {source, [
          {protocol, amqp091},
          {uris, ["amqp://shovel-user@/esa_local2"]},
          {declarations, [
            {'exchange.declare', [{exchange, <<"cg">>}, {type, <<"topic">>}, durable, auto_delete]},
            {'queue.declare', [exclusive]},
            {'queue.bind', [{exchange, <<"cg">>}, {queue, <<>>}, {routing_key, <<"esa2019s2.#">>}]}
          ]},
          {queue, <<>>},
          {prefetch_count, 10}
        ]},
        {destination, [
          {protocol, amqp091},
          {uris, ["amqp://shovel-user@/esa_local1"]},
          {declarations, [
            {'exchange.declare', [{exchange, <<"cg">>}, {type, <<"topic">>}, durable, auto_delete]}
          ]}
        ]},
        {ack_mode, on_confirm},
        {reconnect_delay, 5.0}
      ]}
    ]}
  ]}
].
